<div class="container">
	<div class="row">
		<div style="display: inline-block; vertical-align: bottom">
			<img src="http://static1.squarespace.com/static/52d07668e4b0b335d4dfb080/t/539f7427e4b0a429a25fff19/1402958888967/New_Yorker_Illustration_By_Justin_Bilicki_01.png" alt="New Yorker" style="width: 120px;"/>
		</div>
		<div style="display: inline-block">
			<h1>Roshi</h1>
			<p><i>noun. </i>The spiritual leader of a community of Zen Buddhist monks.</p>
		</div>
	</div>
</div>