<div class="container">
	<div class="row">
		<div class="col-lg-2 col-md-2 col-sm-2" align="right">
			<img src="http://static1.squarespace.com/static/52d07668e4b0b335d4dfb080/t/539f7427e4b0a429a25fff19/1402958888967/New_Yorker_Illustration_By_Justin_Bilicki_01.png" alt="New Yorker" style="width: 120px; max-width: 100%;"/>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-4" align="left">
			<h1>Roshi</h1>
			<p><i>noun. </i>The spiritual leader of a community of Zen Buddhist monks.</p>
		</div>
		<!-- <div class="col-lg-4 col-md-4 col-sm-4" align="right">
			<h3>Shreshth Khilani</h3>
			<button type="button" class="btn btn-default">Logout</button>
		</div>
		<div class="col-lg-2 col-md-2 col-sm-2" align="left">
			<img src="shreshth.png" alt="New Yorker" style="width: 120px; max-width: 100%;"/>
		</div> -->
		<!-- <div style="display: inline-block; vertical-align: bottom">
			<img src="http://static1.squarespace.com/static/52d07668e4b0b335d4dfb080/t/539f7427e4b0a429a25fff19/1402958888967/New_Yorker_Illustration_By_Justin_Bilicki_01.png" alt="New Yorker" style="width: 120px;"/>
		</div>
		<div style="display: inline-block">
			<h1>Roshi</h1>
			<p><i>noun. </i>The spiritual leader of a community of Zen Buddhist monks.</p>
		</div> -->
	</div>
	<% if (login) { %>
	Hello
		<button type="button" class="btn btn-link roshiLink" id="logoutBtn">Logout</button>
	<% } %>
</div>