<% layout( 'layout' ) -%>

<div class="container">
<div class="row">
	<div class="col-lg-6 col-md-6 col-sm-6">
		<h3>Login</h3>
		<div class="input-group">
		  <span class="input-group-addon" id="basic-addon1">Email</span>
		  <input type="text" class="form-control" placeholder="your *.upenn.edu email" aria-describedby="basic-addon1">
		</div>
		<br>
		<div class="input-group">
		  <span class="input-group-addon" id="basic-addon2">Password</span>
		  <input type="password" class="form-control" placeholder="and your password" aria-describedby="basic-addon2">
		</div>
		<br>
		<div align="right">
			<button type="button" class="btn btn-default" style="width:100%">Login</button>
		</div>
	</div>
	<div class="col-lg-6 col-md-6 col-sm-6">
		<h3>Signup</h3>
		<div class="input-group">
		  <span class="input-group-addon" id="basic-addon4">First Name</span>
		  <input type="text" class="form-control" placeholder="what's your first name?" aria-describedby="basic-addon4">
		</div>
		<br>
		<div class="input-group">
		  <span class="input-group-addon" id="basic-addon5">Last Name</span>
		  <input type="text" class="form-control" placeholder="and your last name?" aria-describedby="basic-addon5">
		</div>
		<br>
		<div class="input-group">
		  <span class="input-group-addon" id="basic-addon1">Email</span>
		  <input type="text" class="form-control" placeholder="your *.upenn.edu email" aria-describedby="basic-addon1">
		</div>
		<br>
		<div class="input-group">
		  <span class="input-group-addon" id="basic-addon2">Password</span>
		  <input type="password" class="form-control" placeholder="and your password" aria-describedby="basic-addon2">
		</div>
		<br>
		<div class="input-group">
		  <span class="input-group-addon" id="basic-addon3">Confirm Password</span>
		  <input type="password" class="form-control" placeholder="once again, please" aria-describedby="basic-addon3">
		</div>
		<br>
		<div align="right">
			<button type="button" class="btn btn-default" style="width:100%">Signup</button>
		</div>
	</div>
</div>
</div>