<% layout( 'layout' ) -%>

<script type="text/javascript" src="/login.js"></script>

<div class="container" align="center">
	<br>
	<input type="email" class="form-control outsideInput" id="emailInput" placeholder="Penn Email Address">
	<br>
	<input type="password" class="form-control outsideInput" id="passwordInput" placeholder="Password">
	<br>
	<button class="roshiBtn" type="submit" id="loginBtn">Log In</button>
	<br><br>
	<span id="issue"></span>
</div>