<link rel="stylesheet" type="text/css" href="/navbar.css">
<script type="text/javascript" src="/activenavitem.js"></script>

<div class="container">
	<div class="row">
		<div class="col-xs-4" align="center">
			<a href="/home" class="navitem" id="homenav">
				<div>
					<h5>Profile</h5>
				</div>
			</a>
		</div>
		<div class="col-xs-4" align="center">
			<a href="/jobs" class="navitem" id="jobsnav">
				<div>
					<h5>Jobs</h5>
				</div>
			</a>
		</div>
		<div class="col-xs-4" align="center">
			<a href="/interested" class="navitem" id="intnav">
				<div>
					<h5>Interested</h5>
				</div>
			</a>
		</div>
	</div>
</div>