<% layout( 'layout' ) -%>

<script type="text/javascript" src="/verify.js"></script>

<div class="container" align="center">
	<br>
	Your privacy is important to us. Please click on the link sent to you via email to proceed. 
	<br><br>
	<button class="roshiBtn" type="submit" id="verifyBtn">Re Send Link</button>
	<br><br>
	<span id="issue"></span>
</div>